/* regole generali */
body{
  background-image: url(../img/bg.jpg);
  padding-top: 10px;
}

*{
margin: auto;
}
/* |regole generali */

/* sezione header */
header{
  background: #ccc;
  width: 80%;
  height: 250px;


}

div.menu{
  background: black;
  width: 80%;
  height: 50px;

}
/* |sezione header */

/* parte centrale */
div.global{
  background:pink;
  width: 80%;
  margin-top:20px;
  margin-bottom: 50px;

}

div.global:after{
  content: "";
  display: table;
  clear:both;
}

/* regole generali colonne */
div.colonna1, div.colonna2,div.colonna3{
  float: left;

}
/* |regole generali colonne */

/* regole generali blocchi in colonna3 */
div.blocco1,div.blocco2,div.blocco3{
  width:100%;
}
/* |regole generali blocchi in colonna3 */

/* regole colonne singole */

div.colonna1{
  width: 20%;
  background:lightblue;
}

div.colonna2{
  width: 54%;
  background:green;
  margin-left: 3%;
  margin-right:3%;
}

div.colonna3{
  width: 20%;
  background:white;
  position:relative;
  margin-right: 0%;
}
/* |regole colonne singole */

/* regole blocchi singoli */
div.blocco1{
  background: orange;
}

div.blocco2{
  background: purple;
  margin-top: 10%;
  margin-bottom: 10%;
}

div.blocco3{
  background: brown;
}
/* |regole blocchi singoli */


footer{
    background: #ccc;
    width: 80%;
    height: 150px;
    position: relative;
    bottom:1%;

}
