/* regole generali */
body{
  background-image: url(../img/bg.jpg);
  padding-top: 10px;
}

*{
  margin:auto;
}
/* |regole generali */

/* sezione header */
header{
  background: #ccc;
  width: 80%;
  height: 250px;
  /* position:relative; */

}

div.menu{
  background: black;
  width: 100%;
  height: 50px;
  /* position: absolute;
  top:100%; */
}
/* |sezione header */

/* parte centrale */
div.global{
  background:pink;
  width: 80%;
  height: 50px;
  margin-top:10px;
}

div.global{
  content: "";
  display: table;
  clear:both;
  box-sizing: border-box;
}

/* regole generali colonne */
div.colonna1, div.colonna2,div.colonna3{
  float: left;
  margin :1%;
}

div.colonna4,div.colonna5{
  float:right;
  margin:1%;
}
/* |regole generali colonne */

div.colonna1{
  width: 20%;
  background:white;
}

div.colonna2{
  width: 54%;
  background:green;
}

div.colonna3{
  width: 20%;
  background:red;
}

div.colonna4{
  background: orange;
  width: 20%;

}

div.colonna5{
  background: purple;
  width: 20%;
}
