/* regole generali */
body{
  background-image: url(../../img/bg.jpg);
  padding-top: 10px;
}

*{
margin: auto;
box-sizing:border-box;
}
/* |regole generali */

/* sezione header */
header{
  background-image: url(../img/bg-header.jpg) ;
  background-size: cover;
  width: 70%;
  height: 250px;
}

div.menu{
  background:#666666 ;
  width: 70%;
  height: 50px;

}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

li{
  float:left;
  color: white;
  margin: 1.1%;
}

/* li{
  display: block;
  padding: 8px;
} */
/* |sezione header */

/* parte centrale */
div.global{
  width: 70%;
  margin-top:20px;
  margin-bottom: 50px;


}

div.global:after{
  content: "";
  display: table;
  clear:both;
}

/* regole generali colonne */
div.colonna1, div.colonna2,div.colonna3{
  float: left;
  

}
/* |regole generali colonne */

/* regole generali blocchi in colonna3 */
div.blocco1,div.blocco2,div.blocco3{
  width:100%;
  background: white;
  padding: 15%;
}
/* |regole generali blocchi in colonna3 */

/* regole colonne singole */
div.colonna1{
  width: 20%;
  background:white;
  box-sizing: border-box;
}

div.colonna2{
  width: 54%;
  background:green;
  margin-left: 3%;
  margin-right:3%;
}

div.colonna3{
  width: 20%;
}
/* |regole colonne singole */

/* regole blocchi singoli */

div.blocco2{
  margin-top: 10%;
  margin-bottom: 10%;
}
/* |regole blocchi singoli */


footer{
    background: #ccc;
    width: 70%;
    height: 150px;
}
